* {
  margin: 0;
  box-sizing: border-box;
}

/**NavBar start*/

.navbar {
  width: 100vw;
  height: 15vh;
  background: #222;
}
#MainImage {
  float: left;
}
#MainTitle {
  font-size: 30px;
  color: red;
  float: left;
  padding: 10px;
  margin-top: 20px;
  text-shadow: 7px 5px 3px black;
}
#searchbox {
  margin-top: 35px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px black;
}

#optionsMenu {
  list-style-type: none;
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;

  font-size: 20px;
}
a li.optionMenu {
  padding: 20px;
  float: left;
  color: white;
}
i {
  margin-left: 30%;
  font-size: 20px;
}

button#serachbutton {
  padding: 2px;
  margin-left: 30px;
  margin-top: 30px;
  outline: #222 1px thick;
  background-color: #111;
  border-radius: 4px;
  outline-offset: -3px;
  box-shadow: 5px 5px 8px black;
}
i.fa-search {
  margin-left: 1px;
  font-size: 17px;
  color: #fff;
}

#dropMenu {
  visibility: hidden;
  position: absolute;
  top: 30px;
  right: 30px;
  outline: #222 1px solid;
  outline-offset: -3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fa-align-justify {
  margin-left: 1px;
  font-size: 20px;
}

@media screen and (min-width: 1420px) {
  #searchbox {
    width: 50%;
  }
}
@media screen and (max-width: 1419px) and (min-width: 1180px) {
  #searchbox {
    width: 40%;
  }
}
@media screen and (max-width: 1179px) and (min-width: 1012px) {
  #searchbox {
    width: 30%;
  }
}
@media screen and (min-width: 792px) and (max-width: 1011px) {
  ul#optionsMenu {
    display: none;
  }
  #searchbox {
    width: 40%;
  }

  #dropMenu {
    visibility: visible;
  }
}

@media screen and (max-width: 791px) {
  ul#optionsMenu {
    display: none;
  }
  #MainTitle {
    visibility: hidden;
  }
  #searchbox {
    width: 50%;
    margin-left: 1px;
  }
  button#serachbutton {
    margin-left: -170px;
  }
  i.fa-search {
    font-size: 20;
  }
  #dropMenu {
    visibility: visible;
  }
}

/**NavBar Ends*/

/**main starts*/
body {
  background-image: url("Images/Friends.jpg");
  background-size: cover;
  background-attachment: fixed;
}
main {
  width: 100vw;
  height: 100vh;
}

a.Mainblock {
  width: 45%;
  height: 50%;
  display: block;
  float: left;
  margin-left: 45px;
  margin-top: 40px;
  text-decoration: none;
  color: #fff;
  position: relative;
  transition: transform 2s;
  box-shadow: 5px 5px 8px black;
}
.Mainblock:hover {
  transform: scale(1.1, 1.1);
}

.MainText {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  background-color: black;
  display: block;
  width: 50%;
  padding: 10px;
  border-top-right-radius: 20px;
  opacity: 0.7;
  transition: opacity 2s, transform 2s;
}
.MainText:hover {
  transform: translateY(10px);
  opacity: 0.3;
}

#Movies {
  background: url("Images/inception.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#Music {
  background: url("Images/Music.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#Series {
  background: url("Images/Series.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#Games {
  background: url("Images/Game.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1011px) {
  a.Mainblock {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    width: 100%;
  }
  a.Mainblock:hover {
    transform: scale(0.9, 0.9);
  }
}

footer {
  width: 100vw;
  height: 10vh;
  margin-top: 200px;
  opacity: 0.9;
}
#HELP,
#about {
  float: left;
  display: block;
  width: 50vw;
  height: 50vh;
  text-align: center;
  font-size: 30px;
}
#HELP {
  background-color: #000044;
  color: white;
  padding-top: 30px;
}

#about {
  padding-top: 30px;
  background-color: #444;
  color: white;
}

#copyrights {
  background-color: #222;
  margin-top: 40vh;
  width: 100vw;
  height: 10vh;
  color: #fff;
  padding-top: 15px;
  text-align: center;
  font-size: 30px;
}

footer li {
  text-align: left;
  list-style-type: none;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 0;
}

.fab {
  display: inline;
  float: left;
  margin-top: 30px;
  margin-left: 40px;
}
#wishs{
  display: block;
  clear: both;
  font-size: 40px;
  padding-top: 60px;
}
@media screen and (max-width: 1011px) {
  #HELP,
  #about {
    clear: both;
    width: 100vw;
  }
  #copyrights {
    clear: both;
  }
}
